# pip install -r requirements.txt

# base ----------------------------------------
## torch>=1.13.0
## torchvision>=0.14.0
# torch>=1.10.0
# torchvision>=0.11.1
# matplotlib>=3.2.2
# numpy>=1.18.5
# opencv-python>=4.1.1
# Pillow>=7.1.2
# PyYAML>=5.3.1
# requests>=2.23.0
# scipy>=1.4.1
# tqdm>=4.64.0
# protobuf<=3.20.1

# plotting ------------------------------------

# pandas>=1.1.4
# seaborn>=0.11.0

# Export --------------------------------------
# onnx>=1.12.0  # ONNX export
# onnx-simplifier>=0.4.10  # ONNX simplifier
# nvidia-pyindex  # TensorRT export
# nvidia-tensorrt  # TensorRT export

# I had to add these --------------------------------------
yacs>=0.1.8
scikit-image>=0.19.3
# warp-rnnt
# numba